Importing libraries

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

Setting file paths

In [3]:
raw_data_path = r"C:\Users\chand\Python_Project\EDA-Assessment\data\Product_DataSet.csv"
cleaned_data_path = r"C:\Users\chand\Python_Project\EDA-Assessment\data\cleaned_Product_DataSet.csv"
visuals_folder = r"C:\Users\chand\Python_Project\EDA-Assessment\visuals"

os.makedirs(visuals_folder, exist_ok=True)

Loading and exploring the dataset

In [4]:
df = pd.read_csv(raw_data_path)

print("Dataset Overview:")
print(df.info())
print("Shape of dataset")
print(df.shape)

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          4566 non-null   int64
 1   BrandName     4566 non-null   object
 2   Product ID    4566 non-null   object
 3   Product Name  4566 non-null   object
 4   Brand Desc    4566 non-null   object
 5   Product Size  4566 non-null   object
 6   Currancy      4566 non-null   object
 7   MRP           4553 non-null   object
 8   SellPrice     4566 non-null   int64
 9   Discount      4566 non-null   object
 10  Category      4566 non-null   object
dtypes: int64(2), object(9)
memory usage: 392.5+ KB
None
Shape of dataset
(4566, 11)

View first few data

In [5]:
print(df.head())

   S.No BrandName Product ID              Product Name  \
0     1      4711      FR001         Cologne Fragrance
1     2      109f       DRW1  DRW1 - Westernwear-Women
2     3      109f       DRW2  DRW2 - Westernwear-Women
3     4      109f       DRW3  DRW3 - Westernwear-Women
4     5      109f       DRW4  DRW4 - Westernwear-Women

                                     Brand Desc  \
0                     ekw eau de cologne 400 ml
1           womens v- neck short dress - yellow
2           womens round neck solid top - black
3    womens round neck stripe shift dress - red
4  womens round neck solid high low top - black

                         Product Size Currancy   MRP  SellPrice Discount  \
0                               Small      Rs.  3900       3120  20% off
1  Size:Medium,Small,X-Large,XX-Large      Rs.  1899        569  70% off
2     Size:Large,Medium,Small,X-Large      Rs.  1499        599  60% off
3                   Size:Medium,Small      Rs.  1599        639  60% off
4     Size:Large,Medium,Small,X-Large      Rs.  1199        479  60% off

            Category
0    Fragrance-Women
1  Westernwear-Women
2  Westernwear-Women
3  Westernwear-Women
4  Westernwear-Women

Check for missing values and duplicate rows

In [7]:
print(df.isnull().sum())
duplicate_rows = df.duplicated().sum()
print(f"\nNo. of Duplicate Rows: {duplicate_rows}")

S.No             0
BrandName        0
Product ID       0
Product Name     0
Brand Desc       0
Product Size     0
Currancy         0
MRP             13
SellPrice        0
Discount         0
Category         0
dtype: int64

No. of Duplicate Rows: 0