Importing libraries

In [58]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

Setting file paths

In [59]:
raw_data_path = r"C:\Users\chand\Python_Project\EDA-Assessment\data\Product_DataSet.csv"
cleaned_data_path = r"C:\Users\chand\Python_Project\EDA-Assessment\data\cleaned_Product_DataSet.csv"
visuals_folder = r"C:\Users\chand\Python_Project\EDA-Assessment\visuals"

os.makedirs(visuals_folder, exist_ok=True)

Loading and exploring the dataset

In [60]:
df = pd.read_csv(raw_data_path)

print("Dataset Overview:")
print(df.info())
print("Shape of dataset")
print(df.shape)

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          4566 non-null   int64
 1   BrandName     4566 non-null   object
 2   Product ID    4566 non-null   object
 3   Product Name  4566 non-null   object
 4   Brand Desc    4566 non-null   object
 5   Product Size  4566 non-null   object
 6   Currancy      4566 non-null   object
 7   MRP           4553 non-null   object
 8   SellPrice     4566 non-null   int64
 9   Discount      4566 non-null   object
 10  Category      4566 non-null   object
dtypes: int64(2), object(9)
memory usage: 392.5+ KB
None
Shape of dataset
(4566, 11)

View first few data

In [61]:
print(df.head())

   S.No BrandName Product ID              Product Name  \
0     1      4711      FR001         Cologne Fragrance
1     2      109f       DRW1  DRW1 - Westernwear-Women
2     3      109f       DRW2  DRW2 - Westernwear-Women
3     4      109f       DRW3  DRW3 - Westernwear-Women
4     5      109f       DRW4  DRW4 - Westernwear-Women

                                     Brand Desc  \
0                     ekw eau de cologne 400 ml
1           womens v- neck short dress - yellow
2           womens round neck solid top - black
3    womens round neck stripe shift dress - red
4  womens round neck solid high low top - black

                         Product Size Currancy   MRP  SellPrice Discount  \
0                               Small      Rs.  3900       3120  20% off
1  Size:Medium,Small,X-Large,XX-Large      Rs.  1899        569  70% off
2     Size:Large,Medium,Small,X-Large      Rs.  1499        599  60% off
3                   Size:Medium,Small      Rs.  1599        639  60% off
4     Size:Large,Medium,Small,X-Large      Rs.  1199        479  60% off

            Category
0    Fragrance-Women
1  Westernwear-Women
2  Westernwear-Women
3  Westernwear-Women
4  Westernwear-Women

Check for missing values and duplicate rows

In [62]:
print(df.isnull().sum())
duplicate_rows = df.duplicated().sum()
print(f"\nNo. of Duplicate Rows: {duplicate_rows}")

S.No             0
BrandName        0
Product ID       0
Product Name     0
Brand Desc       0
Product Size     0
Currancy         0
MRP             13
SellPrice        0
Discount         0
Category         0
dtype: int64

No. of Duplicate Rows: 0

Dropping columns which are not required

In [63]:
df=df.drop(columns=['S.No'])
print(df.head)

<bound method NDFrame.head of            BrandName        Product ID                          Product Name  \
0               4711             FR001                     Cologne Fragrance
1               109f              DRW1              DRW1 - Westernwear-Women
2               109f              DRW2              DRW2 - Westernwear-Women
3               109f              DRW3              DRW3 - Westernwear-Women
4               109f              DRW4              DRW4 - Westernwear-Women
...              ...               ...                                   ...
4561  crimsoune club   CRIMSOUNE CLUB6   CRIMSOUNE CLUB6 - Westernwear-Women
4562  crimsoune club   CRIMSOUNE CLUB7   CRIMSOUNE CLUB7 - Westernwear-Women
4563  crimsoune club   CRIMSOUNE CLUB8   CRIMSOUNE CLUB8 - Westernwear-Women
4564  crimsoune club   CRIMSOUNE CLUB9   CRIMSOUNE CLUB9 - Westernwear-Women
4565  crimsoune club  CRIMSOUNE CLUB10  CRIMSOUNE CLUB10 - Westernwear-Women

                                             Brand Desc  \
0                             ekw eau de cologne 400 ml
1                   womens v- neck short dress - yellow
2                   womens round neck solid top - black
3            womens round neck stripe shift dress - red
4          womens round neck solid high low top - black
...                                                 ...
4561  solid hood poly cotton womens sweatshirt - yellow
4562  striped v-neck cotton womens casual shirt - white
4563                  womens slim fit solid shirt - red
4564      printed lyocell round neck womens top - green
4565                 womens grey solid jumpsuit - denim

                                           Product Size Currancy   MRP  \
0                                                 Small      Rs.  3900
1                    Size:Medium,Small,X-Large,XX-Large      Rs.  1899
2                       Size:Large,Medium,Small,X-Large      Rs.  1499
3                                     Size:Medium,Small      Rs.  1599
4                       Size:Large,Medium,Small,X-Large      Rs.  1199
...                                                 ...      ...   ...
4561                    Size:Large,Medium,Small,X-Large      Rs.  1699
4562       Size:Large,Medium,X-Large,XX-Large,XXX-Large      Rs.  1299
4563                          Size:Large,Medium,X-Large      Rs.  1299
4564  Size:Large,Medium,Small,X-Large,XX-Large,XXX-L...      Rs.  1399
4565                 Size:Large,Medium,X-Large,XX-Large      Rs.  2499

      SellPrice Discount           Category
0          3120  20% off    Fragrance-Women
1           569  70% off  Westernwear-Women
2           599  60% off  Westernwear-Women
3           639  60% off  Westernwear-Women
4           479  60% off  Westernwear-Women
...         ...      ...                ...
4561        849  50% off  Westernwear-Women
4562       1039  20% off  Westernwear-Women
4563        649  50% off  Westernwear-Women
4564        979  30% off  Westernwear-Women
4565       1249  50% off  Westernwear-Women

[4566 rows x 10 columns]>

Handle the missing values of MRP by filling them with 0

In [64]:
df['MRP'] = df['MRP'].fillna(0)

print("\nMissing Values after Cleaning:")
print(df.isnull().sum())

Missing Values after Cleaning:
BrandName       0
Product ID      0
Product Name    0
Brand Desc      0
Product Size    0
Currancy        0
MRP             0
SellPrice       0
Discount        0
Category        0
dtype: int64

Convert MRP to numeric

In [65]:
df['MRP'] = pd.to_numeric(df['MRP'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BrandName     4566 non-null   object
 1   Product ID    4566 non-null   object
 2   Product Name  4566 non-null   object
 3   Brand Desc    4566 non-null   object
 4   Product Size  4566 non-null   object
 5   Currancy      4566 non-null   object
 6   MRP           4561 non-null   float64
 7   SellPrice     4566 non-null   int64
 8   Discount      4566 non-null   object
 9   Category      4566 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 356.8+ KB

Clean discount column and remove '% off' from it

In [66]:
df['Discount'] = df['Discount'].str.replace('% off', '').astype(float)

Summary statistics

In [67]:
display(df.describe())

                MRP     SellPrice     Discount
count   4561.000000   4566.000000  4566.000000
mean    1817.690156   2005.222733    29.991897
std     2280.088780   2259.614915    17.856129
min        0.000000     89.000000     5.000000
25%        8.900000    749.000000    10.000000
50%     1490.000000   1379.000000    30.000000
75%     2499.000000   2299.000000    50.000000
max    28495.000000  25995.000000    80.000000

Save the cleaned dataset as a .csv file for powerBI visualisations

In [68]:
df.to_csv(cleaned_data_path, index=False)
print(f"Cleaned dataset saved to {cleaned_data_path}")

Cleaned dataset saved to C:\Users\chand\Python_Project\EDA-Assessment\data\cleaned_Product_DataSet.csv